@{
    var periodicTicketType = new object[] {
        new { ID = 1, Text = "Günlük" },
        new { ID = 2, Text = "Haftalık" },
        new { ID = 3, Text = "Aylık" },
        new { ID = 4, Text = "Yıllık" }
    };

    var dailyType = new object[] {
        new { ID = 1, Text = "" },
        new { ID = 2, Text = "" }
    };

    var days = new object[] {
        new { ID = 1, Text = "Pazartesi"},
        new { ID = 2, Text = "Salı"},
        new { ID = 3, Text = "Çarşamba"},
        new { ID = 4, Text = "Perşembe"},
        new { ID = 5, Text = "Cuma"},
        new { ID = 6, Text = "Cumartesi"},
        new { ID = 7, Text = "Pazar"}
    };

    var monthly = new object[] {
        new { ID = 1, Text = "Seçenek 1"},
        new { ID = 2, Text = "Seçenek 2"}
    };

    var yearly = new Object[] {
        new { ID = 1, Text = "Seçenek 1"},
        new { ID = 2, Text = "Seçenek 2"}
    };
}

<div class="row">
    <div id="rb-type">
        @(Html.DevExtreme().RadioGroup()
            .ID("rbTicketType")
            .DataSource(periodicTicketType)
            .ValueExpr("ID")
            .DisplayExpr("Text")
            .Value(1)
            .Height(200)
            .Layout(Orientation.Vertical)
            .OnValueChanged("PeriodicTickets.rbTicketTypeOnValueChanged")
        )
    </div>
    <div id="type-detail">
        <div id="daily" class="detail">
            @(Html.DevExtreme().RadioGroup()
                    .ID("rbDaily")
                    .Value(1)
                    .Layout(Orientation.Vertical).Items(i => {
                        i.Add().Template(
                        @<text>
                                Her @(Html.DevExtreme().NumberBox().Min(1).Max(31).Value(1).ShowClearButton(true).ShowSpinButtons(true)) günde bir
                        </text>);
                        i.Add().Template("Haftaiçi hergün");
                    })
            //.OnValueChanged("PeriodicTickets.rbTicketTypeOnValueChanged")
            )
        </div>
        <div id="weekly" class="detail">
            b
        </div>
        <div id="monthly" class="detail">
            c
        </div>
        <div id="yearly" class="detail">
            d
        </div>
    </div>
</div>

<style>

    #rb-type {
        float: left;
        width: 20%;
    }

    * {
        box-sizing: border-box;
    }

    #type-detail {
        float: left;
        width: 80%;
    }

    .detail {
        width: 50%;
    }

    .detail-option1 {
        width: 50%;
    }

    .detail-option2 {
        width: 50%;
    }

    .row {
        padding: 20px;
    }

</style>