@page
@model DIAS.UI.Pages.Definition.MainDefinitionPageModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var deneme = new object[] {
        new { ID = 1, Text = "İş Emri Durum Tanımlama" ,page="TicketState"},
        new { ID = 2, Text = "İş Emri Öncelik Tanımlama",page="TicketPriority" },
        new { ID = 3, Text = "Hızlı İş Emri Durum Tanımlama",page="BasicTicketState" },
    };
}
<div class="dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">Tanımlanacak Alanı Seçiniz</div>
        <div class="dx-field-value" >
            @(Html.DevExtreme().SelectBox()
                .ShowClearButton(true)
                .ValueExpr("ID")
                .DisplayExpr("Text")
                .DataSource(deneme)
                .Placeholder("Tanımlanacak Kısmı Seçiniz")
                .OnItemClick("onItemClick")
            )
        </div>
    </div>
</div>

<div id="pageCall" style="height:700px;">
    <iframe id='frame' frameborder="0" style="height: 100%; width: 100%;"></iframe>
</div>

<script>
    function onItemClick(e) {
        $("#frame").attr("src", `TicketDefinitions/${e.itemData.page}`);
    }
</script>

<style>
    #tabIframe{
        background-color:white;
    }
</style>
