@page

<script src="~/js/pages/base/dashboard.js"></script>
<div class="demo-container">
    <div id="page">
        <div id="responsive-box">
            <div class="header" data-options="dxItem: {
                location: [{
                    row: 0,
                    col: 0,
                    colspan: 3,
                    screen: 'lg'
                }, {
                    row: 0,
                    col: 0,
                    colspan: 2,
                    screen: 'sm'
                }]
            }">
                <div id="chart1"></div>
            </div>
            <div class="content" data-options="dxItem: {
                location: [{
                    row: 1,
                    col: 1,
                    screen: 'lg'
                }, {
                    row: 1,
                    col: 0,
                    colspan: 2,
                    screen: 'sm'
                }]
            }">
                <div class="demo-container">
                    <div id="chart-demo">
                        <table class="demo-table">
                            <tr>
                                <th>
                                </th>
                                <th>Temmuz</th>
                                <th>Ağustos</th>
                                <th>Eylül</th>
                            </tr>
                            <tr>
                                <th>Hafta 1</th>
                                <td><div class="bullet june-1"></div></td>
                                <td><div class="bullet july-1"></div></td>
                                <td><div class="bullet august-1"></div></td>
                            </tr>
                            <tr>
                                <th>Hafta 2</th>
                                <td><div class="bullet june-2"></div></td>
                                <td><div class="bullet july-2"></div></td>
                                <td><div class="bullet august-2"></div></td>
                            </tr>
                            <tr>
                                <th>Hafta 3</th>
                                <td><div class="bullet june-3"></div></td>
                                <td><div class="bullet july-3"></div></td>
                                <td><div class="bullet august-3"></div></td>
                            </tr>
                            <tr>
                                <th>Hafta 4</th>
                                <td><div class="bullet june-4"></div></td>
                                <td><div class="bullet july-4"></div></td>
                                <td><div class="bullet august-4"></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="left-side-bar" data-options="dxItem: {
                location: [{
                    row: 1,
                    col: 0,
                    screen: 'lg'
                }, {
                    row: 2,
                    col: 0,
                    screen: 'sm'
                }]
            }">
                <div id="chart2"></div>
            </div>
            <div class="right-side-bar" data-options="dxItem: {
                location: [{
                    row: 1,
                    col: 2,
                    screen: 'lg'
                }, {
                    row: 2,
                    col: 1,
                    screen: 'sm' }]
                }">
                <div id="pie"></div>
            </div>
            <div class="footer" data-options="dxItem: {
                location: [{
                    row: 2,
                    col: 0,
                    colspan: 3,
                    screen: 'lg'
                }, {
                    row: 3,
                    col: 0,
                    colspan: 2,
                    screen: 'sm' }]
                }">
                <div id="chart5"></div>
            </div>
        </div>
    </div>
</div>



<style>
    .demo-container, #page{    
        height: 100%;
        min-height: 300px;
    }
    
    #page .header {
        text-align: center;
    }
    
    #page .content {
    }
    
    #page .left-side-bar {
    }
    
    #page .right-side-bar {
    }
    
    #page .footer {
    }
    
    .item {
        height: 100%;
    }
    
    #page p {
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }

    #chart1 {
        height: 350px;
        padding-bottom: 10px;
    }    
    
    #chart2 {
        height: 300px;
    }    
    
    #chart3 {
        height: 300px;
    }

    #pie {
        height: 300px;
    }
    
    .tooltip-header {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 1px solid #c5c5c5;
    }
    
    .tooltip-body {
        width: 170px;
    }
    
    .tooltip-body .series-name {
        font-weight: normal;
        opacity: 0.6;
        display: inline-block;
        line-height: 1.5;
        padding-right: 10px;
        width: 126px;
    }
    
    .tooltip-body .value-text {
        display: inline-block;
        line-height: 1.5;
        width: 30px;
    }

    #chart-demo {
        height: 300px;
        width: 100%;
        padding: 10px;
    }

    .demo-table {
        width: 100%;
        border: 1px solid #c2c2c2;
        border-collapse: collapse;
    }

        .demo-table th,
        .demo-table td {
            font-weight: 400;
            width: 200px;
            padding: 25px 10px 5px 10px;
            border: 1px solid #e5e5e5;
        }

        .demo-table th {
            padding: 25px 15px 20px 15px;
            border: 1px solid #c2c2c2;
        }

        .demo-table tr:nth-child(2) td {
            border-top: 1px solid #c2c2c2;
        }

        .demo-table td:first-of-type {
            border-left: 1px solid #c2c2c2;
        }

        .demo-table .bullet {
            width: 200px;
            height: 30px;
        }

</style>