@using DIAS.UI.Helpers

@{
    List<TaskItem> comboItems = new List<TaskItem>
{
        new TaskItem{ID=1,Text="Combo"}
    };
    List<TaskItem> textBoxItems = new List<TaskItem>
{
        new TaskItem{ID=1,Text="TextBox"}
    };
    List<TaskItem> radioButtonItems = new List<TaskItem>
{
        new TaskItem{ID=1,Text="RadioButton"}
    };
    List<TaskItem> checkBoxItems = new List<TaskItem>
{
        new TaskItem{ID=1,Text="CheckBox"}
    };
}


<div style="height: 53px;">
    @(Html.DevExtreme().List()
    .ID("surveyQuestionDragListDropDown")
    .Height(380)
    .DataSource(comboItems,"Id")
    .ItemTemplate(new TemplateName("surveyQuestionDragListDropDownTemplate"))
    .DataSourceOptions(dso => dso.Paginate(false))
    .DataSourceOptions(o => o.ReshapeOnPush(true).Sort("Sort"))
    .DisplayExpr("Text")
    .ItemDragging(id => id
        .AllowReordering(true)
        .Group("tasks")
        .OnDragEnd("surveyQuestionOnDragEndForDropDown")
    )
)
</div>
<hr />

<div style="height: 53px;">
    @(Html.DevExtreme().List()
    .ID("surveyQuestionDragListTextBox")
    .Height(380)
    .DataSource(textBoxItems, "Id")
    .ItemTemplate(new TemplateName("surveyQuestionDragListTextBoxTemplate"))
    .DataSourceOptions(dso => dso.Paginate(false))
    .DataSourceOptions(o => o.ReshapeOnPush(true).Sort("Sort"))
    .DisplayExpr("Text")
    .ItemDragging(id => id
        .AllowReordering(true)
        .Group("tasks")
        .OnDragEnd("surveyQuestionOnDragEndForTextBox")
    )
)
</div>
<hr />

<div style="height: 106px;">
    @(Html.DevExtreme().List()
    .ID("surveyQuestionDragListRadioButton")
    .Height(380)
    .DataSource(radioButtonItems, "Id")
    .ItemTemplate(new TemplateName("surveyQuestionDragListRadioButtonTemplate"))
    .DataSourceOptions(dso => dso.Paginate(false))
    .DataSourceOptions(o => o.ReshapeOnPush(true).Sort("Sort"))
    .DisplayExpr("Text")
    .ItemDragging(id => id
        .AllowReordering(true)
        .Group("tasks")
        .OnDragEnd("surveyQuestionOnDragEndForRadioButton")
    )
)
</div>
<hr />
<div style="height: 110px;">
    @(Html.DevExtreme().List()
    .ID("surveyQuestionDragListCheckBox")
    .Height(380)
    .DataSource(checkBoxItems, "Id")
    .ItemTemplate(new TemplateName("surveyQuestionDragListCheckBoxTemplate"))
    .DataSourceOptions(dso => dso.Paginate(false))
    .DataSourceOptions(o => o.ReshapeOnPush(true).Sort("Sort"))
    .DisplayExpr("Text")
    .ItemDragging(id => id
        .AllowReordering(true)
        .Group("tasks")
        .OnDragEnd("surveyQuestionOnDragEndForCheckBox")
    )
)
</div>